<!--==============================      Header Layout 1    ==============================-->
<header class="nav-header header-layout1">
  <!--==============================
      Header One Top Area
      ==============================-->
  <div class="header-one-top-area">
    <div class="container">
      <div class="header-top-content v1">
        <!-- <p class="discount-the-month">
          We are giving best offers for new students 25% discount this month
        </p> -->
        <ul class="menu-social">
          <li>
            <a href="#"><i class="my-icon icon-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="my-icon icon-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="my-icon icon-twitter"></i></a>
          </li>
        </ul>
        
      </div>
     
    </div>
  </div>
  <!--==============================
      Top Content Info
      ==============================-->
  <div class="top-content-info">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-2">
          <div class="logo-img">
         
            <img src="assets/img/logo/logo.svg" alt="edupls-icon"  style="width:150px;"  routerLink=""/>
            <div class="navbar-right d-inline-flex d-lg-none">
              <button type="button" class="menu-toggle icon-btn" (click)="toggleMenu()">
                <i class="my-icon icon-all"></i>
              </button>
            </div>
          </div>
        </div>
       
        <div class="col-lg-8">
          <div class="nav-middle-content">
            <div class="content-location">
              <div class="location-icon">
                <i class="my-icon icon-location"></i>
              </div>
              <div class="info-data">
                <a class="title">Expert's Skill Merge Hub</a>
                <p class="para text"> Edappally, Ernakulam, Kerala,India</p>
              </div>
            </div>
            <div class="content-address">
              <div class="address-icon">
                <i class="my-icon icon-massage"></i>
              </div>
              <div class="info-data">
                <a class="title">Email Address</a>
                <p class="para text">skillmergehub&#64;gmail.com</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <!-- <a href="https://skillmerge.hungerfreeworld.in/hackverse/index.html" id="btn" target="_blank" >#Hackverse</a> -->
        <a href="" id="btn" target="_blank" >#Hackverse</a> 
        </div>
       
      </div>
    </div>
  </div>
  <!--==============================
      Sticky Wrapper
    ==============================-->
  <div class="sticky-wrapper">
    <div class="menu-area">
      <div class="container">
        <div class="menu-area-content">
          <div class="row align-items-center justify-content-between">
            <div class="col-auto">
              <nav class="main-menu d-none d-lg-inline-block">
                <ul>
                  <li>
                                     
                  </li>
                  <li>
                    <a routerLink="/about" routerLinkActive="active">About Us</a>                   
                  </li>
                  <li>
                    
                  </li>
                  <li class="menu-item-has-children">
                    <a  >Internship</a>
                    <ul class="sub-menu">
                      <li><a routerLink="/cybersecurity" routerLinkActive="active">Cyber Security </a></li>
                      <li><a   routerLink="/artificialintelligence" routerLinkActive="active">Artificial Intelligence</a></li>
                      <li><a  routerLink="/webdevelopment">Full Stack Web Development
                      </a></li>
                      <!-- <li><a >Electric vehicle</a></li> -->
                      
                    </ul>
                  </li>
                  <!-- <li class="menu-item-has-children">
                    <a href="#">Pages</a>
                    <ul class="sub-menu">
                      <li class="menu-item-has-children">
                        <a href="pricing-plan.html">Pricing Plan</a>
                      </li>
                      <li class="menu-item-has-children">
                        <a href="team.html">Team</a>
                      </li>
                      <li class="menu-item-has-children">
                        <a href="team-details.html">Team Details</a>
                      </li>
                      <li class="menu-item-has-children">
                        <a href="event.html">Event</a>
                      </li>
                      <li class="menu-item-has-children">
                        <a href="event-details.html">Event Details</a>
                      </li>
                    </ul>
                  </li> -->
                  <!-- <li class="menu-item-has-children">
                    <a href="#">Blog</a>
                    <ul class="sub-menu">
                      <li><a href="blog.html">Blog</a></li>
                      <li><a href="blog-details.html">Blog Details</a></li>
                    </ul>
                  </li> -->
                  <li>
                    <a  routerLink="/blog" routerLinkActive="active" >Blog</a>
                  </li>
                  <li>
                    <a routerLinkActive="active"></a>
                  </li>
                  <li>
                    <a routerLinkActive="active"></a>
                  </li>
                  <!-- <li>
                    <a routerLink="/blog" routerLinkActive="active">Blog</a>
                  </li>
                  <li>
                    <a routerLink="/contact" routerLinkActive="active">Contact</a>
                  </li> -->
                </ul>
              </nav>
            </div>
            <div class="col-auto">
              <div class="menu-area-right-content">
                <!-- <ul class="menu-social">
                  <li>
                    <a href="#"><i class="my-icon icon-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="my-icon icon-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="my-icon icon-twitter"></i></a>
                  </li>
                </ul>-->
                <div class="menu-contact-number">
                  <a href="tel:+919946746422" class="contact-number" id="a1">+91 9946 746 422</a>
<!-- 
                  <a href="+91 9946 746 422" class="contact-number" id ="a1">+91 9946 746 422</a> -->
                </div>
                <div class="all-btn">
                  <a class="btn-p v3" (click)="openModal()">
                    Apply Now
                  </a>
                </div>                 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--==============================
      Mobile Menu Wrapper
    ==============================-->

    <div class="mobile-menu-wrapper" [ngClass]="{'body-visible': isMenuVisible}">
      <div class="mobile-menu-area text-center">
        <button class="menu-toggle" (click)="toggleMenu()"><i class="fa-solid fa-xmark"></i></button>
        <div class="mobile-logo">
          <a ><img src="assets/img/logo/logo.svg" alt="Edupls-icon"  style="width: 150px;"/></a>
        </div>
        <div class="mobile-menu">
          <ul>
            <li><a routerLink="/home" (click)="closeMenu()">Home</a></li>
            <li><a routerLink="/about" (click)="closeMenu()">About Us</a></li>
            <li class="menu-item-has-children">
              <a>Internship</a>
              <ul class="sub-menu">
                <li><a routerLink="/cybersecurity" (click)="closeMenu()">- Cyber Security</a></li>                
                <li><a  routerLink="/" (click)="closeMenu()">- Artificial Intelligence</a></li>
                <li><a  routerLink="/webdevelopment" (click)="closeMenu()">-Full Stack Web Development
                </a></li>
                <!-- <li><a  routerLink="/" (click)="closeMenu()">- Electric vehicle</a></li> -->
              </ul>
            </li>
            <!-- <li><a routerLink="/" (click)="closeMenu()">Job</a></li>
            <li><a routerLink="/" (click)="closeMenu()">Add Skill</a></li>
            <li><a routerLink="/" (click)="closeMenu()">Career</a></li> -->
            <li><a routerLink="/blog" (click)="closeMenu()">Blog</a></li>
            <li><a routerLink="/contact" (click)="closeMenu()">Contact</a></li>
           <li><br><a   target="_blank" id="btn1" >#Hackverse</a></li> 
          </ul>
        </div>
      </div>
    </div>
    
    















  <!-- <div class="mobile-menu-wrapper">
    <div class="mobile-menu-area text-center">
      <button class="menu-toggle"><i class="fa-solid fa-xmark"></i></button>
      <div class="mobile-logo">
        <a href="index.html"><img src="assets/img/logo/Logo.svg" alt="Edupls-icon" /></a>
      </div>
      <div class="mobile-menu">
        <ul>
          <li class="menu-item-has-children">
            <a title="New Demo" href="#">Home</a>
            <ul class="sub-menu">
              <li class="menu-item-has-children">
                <a href="index.html">Home One</a>
              </li>
              <li class="menu-item-has-children">
                <a href="index-2.html">Home Two</a>
              </li>
              <li class="menu-item-has-children">
                <a href="index-3.html">Home Three</a>
              </li>
            </ul>
          </li>
          <li class="menu-item-has-children">
            <a href="about-us.html">About</a>
          </li>
          <li class="menu-item-has-children">
            <a href="#">Courses</a>
            <ul class="sub-menu">
              <li><a href="courses-grid.html">Courses Grid</a></li>
              <li><a href="courses-list.html">Courses List</a></li>
              <li><a href="courses-details.html">Courses Details</a></li>
            </ul>
          </li>

          <li class="menu-item-has-children">
            <a href="#">Pages</a>
            <ul class="sub-menu">
              <li><a href="pricing-plan.html">Pricing Plan</a></li>
              <li><a href="team.html">Team</a></li>
              <li><a href="team-details.html">Team Details</a></li>
              <li><a href="event.html">Event</a></li>
              <li><a href="event-details.html">Event Details</a></li>
            </ul>
          </li>
          <li class="menu-item-has-children">
            <a href="#">Blog</a>
            <ul class="sub-menu">
              <li><a href="blog.html">Blog</a></li>
              <li><a href="blog-details.html">Blog Details</a></li>
            </ul>
          </li>

          <li>
            <a routerLink="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div> -->
<!-- Modal Structure -->
<div  class="modal fade custom-modal" tabindex="-1" role="dialog" [ngClass]="{'show': isModalVisible}" (click)="closeModal()">
  <div class="modal-dialog  modal-lg"  (click)="$event.stopPropagation()">
    <div class="modal-content">
      <div class="modal-body d-flex">
        <!-- Left Column: Information Section -->
        <div class="info-section"> 
          <h2>Enroll in Intership Now 
            <span class="highlight"></span></h2>
            <img src="assets/img/img12.png" alt=""  style="width:300px;margin:auto;display: block;">
          <!-- <p class="subheading">Join our industry-recognized courses and internships in Cybersecurity, Artificial Intelligence, and Full Stack Development, with 100% placement guarantee</p> -->
         <br>
          <ul>
            <li>✔ Cyber Security </li>
            <li>✔ Ethical Hacking</li>
            <li>✔ Full Stack Development </li>
            <li>✔ Artificial Intelligence</li>
           
          </ul>
        </div>
        
        <!-- Right Column: Registration Form Section -->
        <div class="form-section">
          <!-- Close Button at Top Right -->
          <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
          <div style="height:40px"></div>
          <h3>Register for Free Career Guidance</h3>
          <form [formGroup]="contactForm">
            <div class="form-group">
              <input type="text" class="form-control" formControlName="name" placeholder="Name *" required=""/>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" formControlName="email" placeholder="Email *" required="" />
            </div>
            <div class="form-group">
              <input type="tel" class="form-control" formControlName="phone" placeholder="Phone *" required=""/>
            </div>
            <div class="form-group">
              <select required formControlName="course">
                <option value="">Preferred Course *</option>
                <option value="Cybersecurity">Cybersecurity</option>
                <option value="Artificial Intelligence">Artificial Intelligence</option>
                <option value="Full Stack Development">Full Stack Development</option>
                <option value="Ethical Hacking">Ethical Hacking</option>
              </select>
            </div>
            <div class="form-group">
              <select required formControlName="mode">
                <option value="">Preferred Learning Mode *</option>
                <option value="Online">Online</option>
                <option value="On-site">On-site</option>
              </select>
            </div>
            
            <!-- "Enroll Now" Button positioned to the right -->
            <button type="button" class="register-button" (click)="contact()">Enroll Now</button>
          </form>
          <p class="privacy-note">
            By clicking Enroll Now, you agree to our Terms & Conditions and Privacy Policy.
          </p>
        </div>
      </div>
   
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div> -->
    </div>
  </div>
</div>
</header>