
    <footer>
      <div class="footer-content v1">
        <div class="container-xl container-fluid-md">
          <!-- <div class="news-letter">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <h3 class="title white">Subscribe To Our Newsletter</h3>
              </div>
              <div class="col-lg-6">
                <form>
                  <input type="email" placeholder="Enter your email" />
                  <div class="all-btn">
                    <a href="#" class="btn-p btn-blue v2 rounded">Subscribe</a>
                  </div>
                </form>
              </div>
            </div>
          </div> -->
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="footer-widget">
                <div class="footer-logo">
                  <a routerLink="/home">
                    <img src="assets/img/logo-white.svg" alt="logo"  style="width:50%"/>
                  </a>
                </div>
                <p class="widget-para">
                  Expert's Skill Merge Hub is a leading organization committed to closing the gap between academic learning and industry requirements through our structured internship programs. 
                </p>
                <ul class="footer-social-link">
                  <li>
                    <a href="#">
                      <i class="my-icon icon-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="my-icon icon-linkedin"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="my-icon icon-discord"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="my-icon icon-instagram"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
              <div class="footer-widget">
                <h4 class="widget-title">Quick Links</h4>
                <ul class="quick-links">
                  <li>
                    <a routerLink="/home">Home </a>
                  </li>
                  <li>
                    <a routerLink="/about"> About Us  </a>
                  </li>
                  <li>
                    <a href="#">Career </a>
                  </li>
                  <li>
                    <a href="#"> Job</a>
                  </li>
                 
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="footer-widget ml-25">
                <h4 class="widget-title">Quick Links</h4>
                <ul class="our-courses">
                  <li>
                    <a routerLink="/blog"> Blog </a>
                  </li>
                  <li>
                    <a href="#"> Add-Skills</a>
                  </li>
                  <li>
                    <a routerLink="/cybersecurity"> Internship </a>
                  </li>
                  <li>
                    <a routerLink="/contact"> Contact Us </a>
                  </li>
                  <!-- <li>
                    <a href="#"> Digital Marketing </a>
                  </li>
                  <li>
                    <a href="#"> Graphics Designer </a>
                  </li> -->
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="footer-widget">
                <h4 class="widget-title">Get In Touch</h4>
                <div class="get-in-touch">
                  <ul class="contact-info-items">
                    <li class="contact-info-item">
                      <div class="contact-info-icon">
                        <i class="my-icon icon-location"></i>
                      </div>
                      <div class="contact-info-content">
                        <!-- <p class="para"></p> -->
                        <h4 class="title"> Expert's Skill Merge Hub<br> Edappally, Ernakulam, Kerala,India</h4>
                      </div>
                    </li>
                    <li class="contact-info-item">
                      <div class="contact-info-icon">
                        <i class="my-icon icon-massage"></i>
                      </div>
                      <div class="contact-info-content">
                        <!-- <p class="para">Email address</p> -->
                        <h4 class="title">skillmergehub&#64;gmail.com</h4>
                      </div>
                    </li>
                    <li class="contact-info-item">
                      <div class="contact-info-icon">
                        <i class="my-icon icon-call-2"></i>
                      </div>
                      <div class="contact-info-content">
                        <!-- <p class="para">Phone number</p> -->
                        <h4 class="title">+91 9946 746 422</h4>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-left-color-img">
            <img src="assets/img/footer/v1/bg-left-color.png" alt="bg-left-color" />
          </div>
          <div class="bg-right-color-img">
            <img
              src="assets/img/footer/v1/bg-right-color.png"
              alt="bg-right-color"
            />
          </div>
        </div>
      </div>
      <div class="copyright-section v1">
        <div class="container">
          <div class="copyright-content">
            <div class="left-content">
              <p class="para">© 2024 <span>Experts Skill Merge Hub.</span> All Rights Reserved.</p>
            </div>
            <div class="right-content">
              <a href="#" class="para2">Privacy Policy</a>
              <a href="#" class="para2">Terms & Condition</a>
            </div>
          </div>
        </div>
      </div>
    </footer>