<section id="bg11">
    <section class="about-us v1 my-120 @">
      <div class="container-lg">
        <div class="about-us-content v1">
            <div class="container">
                <div class="section-title center">
                  <div class="section-title-inner center">
                           <h2 class="big-title s-color-white" data-aos="fade-up" data-aos-duration="1000" id="h2">Unlock Your Career Potential with Our Cyber Security Internship Program</h2>
                  <p >Register now to access exclusive content and join HackVerse, our vibrant hacker community. Stay updated 
                    and connect with like-minded individuals. Sign up today and start your journey with us!</p>
                        </div>
                </div>
            </div>
          <div class="row ">
            <div class="col-lg-6 col-md-6">
              <!-- <img src="assets/img/hacker2.png" alt="about-img" > -->
              <img src="assets/img/hack.png" id="imgh" class="responsive"/>
            </div>
            <div class="col-lg-6 col-md-6 " >
              <div class="about" >
                <div class="section-title center">
                  <div class="section-title-inner center">
                    <h4 class="sub-title" data-aos="fade-down" data-aos-duration="1000" id="div2">Hackverse  TechPark </h4>
                    <h2 class="big-title s-color-black" data-aos="fade-up" data-aos-duration="1000" id="h21"><b>dgfhfgh</b> </h2>
                    <p style="text-align:justify; color:#fff;font-size:16px; " >ghfjgfjhghkhlk</p>
                    <div class="button-container">
                      <a href="https://wa.me/9946746422" class="inline-button"> <img src="assets/img/smicon-02.png" alt="">Whatsapp</a>
                      <a href="#" class="inline-button"><img src="assets/img/smicon-01.png" alt="">Telegram</a>
                    </div>
                    </div>     
                   </div>
                 </div>
            </div>
          </div>
        </div>
      </div>
     
    </section>
  </section>