.container {
  max-width: 1000px;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Montserrat", sans-serif;
}

.blog-header {
  text-align: center;
}

.blog-header h1 {
  margin-bottom: 10px;
  font-size: 28px;
  color: #333;
}

.blog-header p {
  color: #666;
  font-size: 14px;
}

.blog-image {
  display: block;
  margin: 20px auto;
  width: 80%;
  height: auto;
  border-radius: 8px;
}



.blog-content .para1  {
  font-size: 14px !important;
  line-height: 1.6;
  color:#000;
  font-family: "Montserrat" !important;
}

.blog-content .para1 h1,
.blog-content .para1 h2,
.blog-content .para1 h3,
.blog-content .para1 h4,
.blog-content .para1 h5,
.blog-content .para1 h6 {
  font-size: 16px !important;
  line-height: 1.5;
  font-family: "Montserrat" !important;
  color: green !important;
}

.blog-content ul {
  margin-top: 10px;
  padding-left: 20px;
}

.blog-content ul li {
  margin-bottom: 8px;
}

.back-btn {
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background: #338bf0;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.back-btn:hover {
  background: #2b74c3;
}

.back-btn svg {
  margin-right: 5px;
  fill: #fff;
}

/* Specific rules for headings in blog content */
.blog-content .para h2 {
  font-size: 18px !important;
}

.blog-content .para h3 {
  font-size: 20px !important;
}
.blog-content ul {
  list-style-type: disc;
  margin-left: 20px;
}

.blog-content ul li {
  margin-bottom: 10px;
}

.blog-content p {
  margin-bottom: 20px;
}
img {
  margin: auto !important;
  display: block !important;
}